<section class="custom-padding-top mb-5">

    <div class="row row-cols-2">

        @for (foto of fotos; track foto) {

        <div class="col-md-4 p-1">
            <div class="card border-0 rounded-0">
                <div pDefer>
                    <ng-template>
                        <img [src]="foto.url_imagen" class="card-img-top rounded-0" alt="{{ foto.url_imagen }}" loading="lazy">

                    </ng-template>
                </div>
            </div>
        </div>
        }

    </div>
</section>