.container {
  max-width: 1200px;
}

main {
  min-height: calc(100vh - (192px + 187.16px));
}

[data-bs-theme="dark"] {
  --bs-body-bg: #000000;
  //--bs-form-invalid-border-color: #dc3232;
  //--bs-form-invalid-color: #dc3232;
}
