<nav class="navbar navbar-expand-md navbar-dark py-4" aria-label="navbar">
    <div class="container">
        <a class="navbar-brand p-0 m-0" [routerLink]="['/']">
            <img src="img/rob-logo.webp" loading="eager" alt="rob-logo" width="150px">
        </a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar10"
            aria-controls="navbar10" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center text-center" id="navbar10">
            <ul class="navbar-nav flex-wrap">
                <li class="nav-item px-3 py-2">
                    <a class="fs-5 fw-bold" [routerLink]="['/']" [routerLinkActiveOptions]="{exact: true}"
                        [routerLinkActive]="['active-route']">HOME</a>
                </li>
                <li class="nav-item px-3 py-2">
                    <a class="fs-5 fw-bold" [routerLink]="['/fotografia']"
                        [routerLinkActive]="['active-route']">FOTOGRAFÍA</a>
                </li>
                <li class="nav-item px-3 py-2">
                    <a class="fs-5 fw-bold" [routerLink]="['/videos']" [routerLinkActive]="['active-route']">VÍDEOS</a>
                </li>
                <li class="nav-item px-3 py-2">
                    <a class="fs-5 fw-bold" [routerLink]="['/sobre-mi']" [routerLinkActive]="['active-route']">SOBRE MÍ</a>
                </li>
                <li class="nav-item px-3 py-2">
                    <a class="fs-5 fw-bold" [routerLink]="['/contacto']"
                        [routerLinkActive]="['active-route']">CONTACTO</a>
                </li>
            </ul>
        </div>

    </div>
</nav>