<main class="container">
    <section class="mb-5">
        <h1 class="text-center my-4">{{ fotoCategoria?.titulo?.toUpperCase() }}</h1>

        <div class="row row-cols-2 px-1">
            @for (foto of fotoCategoria?.fotos; track foto) {

            <div class="col-md-4 p-1">
                <div class="ratio ratio-1x1 bg-light">
                    <img [src]="foto.url_imagen_miniatura" class="thumbnail" height="100%" width="100%" alt="{{ foto.url_imagen }}"
                        loading="lazy" (click)="imageClick($index)">
                </div>


            </div>
            }

        </div>
    </section>
</main>

<p-galleria [value]="fotoCategoria?.fotos" [(visible)]="displayCustom" [(activeIndex)]="activeIndex"
    [containerStyle]="{ 'max-width': '850px' }" [circular]="true" [fullScreen]="true" [showItemNavigators]="true"
    [showThumbnails]="false">
    <ng-template pTemplate="item" let-item>
        <img [src]="item.url_imagen" style="width: 100%; display: block;" />
    </ng-template>
</p-galleria>