<main class="container">
    <section class="mb-5">
        <h1 class="text-center my-4">{{ fotoCategoria?.titulo?.toUpperCase() }}</h1>

        <mat-grid-list cols="3" rowHeight="1:1" [gutterSize]="'12px'" class="foto-grid-list">
            @for (foto of fotoCategoria?.fotos; track foto) {
                
                @if ($index < 6) {
                    <mat-grid-tile> <img [src]="foto.url_imagen_miniatura!" height="100%" width="100%" class="thumbnail"
                        alt="{{ foto.url_imagen }}" (click)="imageClick($index)" loading="eager"></mat-grid-tile>
                } @else {
                    <mat-grid-tile> <img [src]="foto.url_imagen_miniatura!" height="100%" width="100%" class="thumbnail"
                        alt="{{ foto.url_imagen }}" (click)="imageClick($index)" loading="lazy"></mat-grid-tile>
                }

            }

        </mat-grid-list>

    </section>
</main>

<p-galleria [value]="fotoCategoria?.fotos" [(visible)]="displayCustom" [(activeIndex)]="activeIndex"
    [containerStyle]="{ 'max-width': '850px' }" [circular]="true" [fullScreen]="true" [showItemNavigators]="true"
    [showThumbnails]="false">
    <ng-template pTemplate="item" let-item>
        <img [src]="item.url_imagen" style="width: 100%; display: block;" />
    </ng-template>
</p-galleria>