.container {
  max-width: 100%;
}

main {
  min-height: calc(100vh - 187.16px);
}

h1 {
  font-weight: 900;
}

.thumbnail {
  cursor: pointer;
  object-fit: cover;
}

.thumbnail:hover {
  opacity: 0.5;
}

mat-grid-tile {
  background: rgb(255, 255, 255);
}