$primary: #ffffff;
$dark: #000000;

@import "../node_modules/bootstrap/scss/bootstrap";

body {
  background: #000000;
  color: #ffffff;
  font-family: helvetica-w01-roman, helvetica-w02-roman, helvetica-lt-w10-roman,
    sans-serif;
}

nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  min-height: 187.16px;
}

.custom-padding-top {
  padding-top: 72px;
}

.thumbnail {
  cursor: pointer;
  object-fit: cover;
}