// 1. Essential functions
@import "../node_modules/bootstrap/scss/functions";

// 2. Default variables
$primary: #ffffff;
$secondary: #000000;

// 3. Scss variables
@import "../node_modules/bootstrap/scss/variables";

// 4. Required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/utilities/api";

// 5. Optional components
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/alert";

body {
  background-color: #080808;
  background-image: repeating-linear-gradient(to right, transparent 0 100px, #36363622 100px 101px), repeating-linear-gradient(to bottom, transparent 0 100px, #36363622 100px 101px);
  color: #e9e9e9;
  font-family: helvetica-w01-roman, helvetica-w02-roman, helvetica-lt-w10-roman, sans-serif;
}

nav {
  min-height: 187.16px;
}

.thumbnail {
  cursor: pointer;
  object-fit: cover;
}

.thumbnail:hover {
  opacity: 0.5;
}

a {
  text-decoration: none;
}

a:hover {
  color: #999997;
}

.active-route {
  color: #999997;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.9s forwards;
}