.container {
  max-width: 100%;
}

main {
  min-height: calc(100vh - 187.16px);

}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que el video cubra toda la pantalla */
  }
}

h1 {
  font-weight: 900;
}
