<main class="container">
    <section class="my-5">

            @for (video of videos; track video) {

            @if (video.tipo == "interno") {
            <div class="ratio ratio-16x9 mb-5">
                <video preload="none" playsinline="true" controls [poster]="video.url_miniatura">
                    <source [src]="video.url_video" type="video/mp4">
                    Tu navegador no soporta el tag de video.
                </video>
            </div>


            }

            @else {

                <div class="ratio ratio-16x9 mb-5">
                    <iframe [src]="video.url_video | safeUrl" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>



            }

            }


    </section>
</main>